<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>

    <h2> <%= @pig_latin_string.piglatinize %> </h2>
  </body>
</html>